body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #ffe6f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffb6c1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

h1 {
    color: #fff;
    font-size: 24px;
}

p {
    color: #fff;
    font-size: 18px;
}

input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    outline: none;
}

button {
    background-color: #ff4d79;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff3366;
}

#message {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* Quitar flechas en navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar flechas en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}